@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400&display=swap");

/* :root {
  --color-primary: #7eb693;
  --color-primary-light: #eff6f1;
  --color-secondary: #efd372;
  --color-dark: #274c5b;
  --color-light: #f9f8f8;
  --body-font: "Open Sans", sans-serif;
  --sans-serif: "Roboto", sans-serif;
  --cursive: "Yellowtail", cursive;
} */

*/ *,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f8f9fa;
  font-family: "Nunito Sans", sans-serif;
}

.frame {
  background-color: #f8f9fa;
  /* border: 2px solid orange; */
  width: 70%;
  margin: auto;
  margin-top: 5%;
}

h1 {
  font-weight: 200;
}

.flexR {
  display: flex;
}

.flexC {
  display: flex;
  flex-direction: column;
}

.just-sp-c {
  justify-content: center;
}

.just-sp-bw {
  justify-content: space-between;
}

.just-sp-ad {
  justify-content: space-around;
}

.alig-sp-bw {
  align-content: space-between;
}

.g10 {
  gap: 10px;
}

.main {
  width: 100%;
}

.main-leftC {
  width: 48%;
}

.main-leftC-tL {
  width: 80;
}

.add-member input,
.add-member button {
  margin-top: 5px;
}

.add-member input {
  padding-left: 5px;
  height: 25px;
  border-color: #ebebec;
  border-width: 0.05px;
  border-style: solid;
  border-radius: 3px;
}

.main-leftC-tR > span button,
.main-leftC-tR > span span {
  margin-top: 5px;
}

.main-leftC-tR {
  width: 32%;
  height: 60px;
}

.main-rightC {
  width: 48%;
}

.main-leftC-bottom {
  /* border: 2px solid pink; */
  height: 200px;
}

.bold {
  font-weight: bold;
}

.blue-buttons {
  color: #e1e2f8;
  background-color: #697cf7;
  border-radius: 3px;
  border-color: #697cf7;
  border-style: none;
  height: 25px;
}

#membersList {
  background-color: white;
  min-height: 50px;
  height: fit-content;
  max-height: 300px;
  border-color: #ebebec;
  border-width: 1px;
  list-style: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  margin: 0;
  /* padding: 0px, 0px, 0px, 0px; */
  padding-left: 0px;
  border-style: solid;
  box-shadow: inset 0 7px 6px -7px rgba(0, 0, 0, 0.281);
  /* min-height: 279px; */
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.nameList {
  border-bottom: solid;
  border-color: #ebebec;
  border-width: 1px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-left: 5px;
}

#membersList > li:nth-child(7n) {
  border-bottom: none;
  border-color: #ebebec;
  border-width: 1px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-left: 5px;
}

#membersList > li:nth-child(7n + 1) {
  border-bottom: none;
  border-color: #ebebec;
  border-width: 1px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-left: 5px;
}

#membersList > li:nth-child(7n + 2) {
  border-top: solid;
  border-bottom: solid;
  border-color: #ebebec;
  border-width: 1px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-left: 5px;
}

/* #membersList > li:nth-child(8n -1) {
    border-top: solid;
    border-bottom: solid;
    border-color: #ebebec;
    border-width: 1px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: 5px;
  } */

#assign-button {
  width: 84%;
}

#reset-button {
  width: 14%;
  padding: 2px;
  color: #e1e2f8;
  background-color: #9d4547;
  border-radius: 3px;
  border-color: #9d4547;
  border-style: none;
  height: 25px;
}

.team-list {
  width: 100px;
  min-height: 200px;
  border-radius: 3px;
  border-width: 1px;
  background-color: white;
  border-color: #ebebec;
  border-style: solid;
}
